<h1>All Jobs</h1>

<% @jobs.each do |job| %>
  <ul>
    <li><%= job.title %> at <%= job.company.name %> in <%= job.city %> with level of interest:  <%= job.level_of_interest %></li>
  </ul>
<% end %>
<p><%= link_to "<<Back to Company Page", companies_path %></p>
