<h1>Title: <%= @job.title %></h1>


<p>Description: <%= @job.description %></p>
<p>Level of Interest: <%= @job.level_of_interest %></p>
<p>City: <%= @job.city %></p>


<h3>Comments: </h3>
<% @job.comments.reverse.each do |comment| %>
  <ul>
  <li><p><%= comment.content %></p></li>
 </ul>
<% end %>

<h4>Company: <%= link_to @job.company.name, company_path(@job.company) %></h4>
<p><%= link_to "Delete", company_job_path(@job), method: :delete %></p>
<p><%= link_to "Edit", edit_company_job_path(@company, @job) %></p>
<p><%= link_to "New Comment", new_job_comment_path(@job) %></p>
