<h1 class="main_heading">All Jobs for <strong><%= @company.name %></strong></h1>

<% @jobs.each do |job| %>
    <h4 class="mid_headings"><%= link_to "#{job.title}", job_path(job) %></h4>
<% end %>
<button><%= link_to "Add New Job", new_company_job_path(@company) %></button>
<section class="borders">
  <h3>Contacts</h3>
  <% @company.contacts.each do |contact| %>

      <p><%= "#{contact.name}, #{contact.position}, #{contact.email}" %></p>

  <% end %>

  <button class="contact"><%= link_to "Add Contact", new_company_contact_path(@company) %></button>
</section>
<p><%= link_to "<<Back to Companies", companies_path %></p>
